.items{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.items .imgWrapper{
    width: 97%;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 500px;
    transition: background 5s;
}

.items .imgWrapper:hover{
    background-position: bottom;
}

.items .imgWrapper img{
    width: 100%;
    height: 100%;
}

.items .info{
    width: 90%;
    margin: auto;
    text-align: center;
    background: #343434;
    box-shadow: 5px 4px 13px #4c4c4c;
    border-radius: 8px;
    overflow: hidden;
    transform: translateY(-50%);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
}

.items .info h2{
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    font-family: Sarbaz;
    font-weight: 400;
}

.items .info a{
    display: block;
    width: 100%;
    color: #0071e3;
    font-size: 1.5rem;
    font-family: Sarbaz;
}

.items .info span{
    color: #f85d00;
    font-family: Sarbaz;
    direction: ltr;
}

@media (max-width: 768px) {
    .items{
        width: 100%;
        margin-bottom: 0;
    }
    .items .imgWrapper{
        height: 350px;
    }
}