@font-face {
    font-family: IRANSans;
    font-display: swap;
    src: url(assets/font/eot/PinkSans.eot?#iefix) format('embedded-opentype'),
    url(assets/font/ttf/PinkSans.ttf) format('truetype'),
    url(assets/font/woff/PinkSans.woff) format('woff'),
    url(assets/font/woff2/PinkSans.woff2) format('woff2');
}

@font-face {
    font-family: Sarbaz;
    font-display: swap;
    src: url(assets/font/eot/SarPink.eot?#iefix) format('embedded-opentype'),
    url(assets/font/ttf/SarPink.ttf) format('truetype'),
    url(assets/font/woff/SarPink.woff) format('woff'),
    url(assets/font/woff2/SarPink.woff2) format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #181D21;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 9;
    backdrop-filter: blur(20px) saturate(180%);
    background: #181d21d6;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a, p, span, button, input, h1, h2, h3, h4, h5, h6 {
    font-family: IRANSans;
}

.txtCenter {
    text-align: center;
}

.col-2 {
    width: 20%;
}

.col-8 {
    width: 60%;
}

.nav {
    background: #1f1f1f;
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 10;
}

.overlay.active {
    display: block;
}

.nav.active {
    right: 0;
    transition: .7s;
}

.portfolio-title {
    text-align: center;
    color: #fff;
}

.imgwrapper {
    width: 4796px;
    height: 134px;
    background: url(assets/images/logo-portfolio.png) repeat-x;
    animation: logo-garden-slide 60s linear infinite;
}

.btn-home{
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.bars{
    height: 100%;
    display: -moz-box;
    display: flex;
    width: 100%;
    -moz-box-pack: justify;
    justify-content: flex-end;
    overflow: hidden;
    -moz-box-align: center;
    align-items: center;
}

.bar{
    width: 3px;
    margin: 0.25rem;
    border-radius: 0.5rem;
    height: 4rem;
    background-color: #000;
    min-height: 0.5rem;
    max-height: 0.5rem;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

@keyframes logo-garden-slide {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-2398px)
    }
}

@media (max-width: 768px) {
    .portfolio-title {
        font-size: 1rem;
        margin: 1rem;
    }
}